[Desktop Entry]
Name=One Whale Trip
Exec=invoker --single-instance --type=e /opt/onewhaletrip/bin/onewhaletrip
Icon=/opt/onewhaletrip/onewhaletrip.png
Terminal=false
Type=Application
Categories=Game;SportsGame;
