Source: onewhaletrip
Section: user/games
Priority: extra
Maintainer: Thomas Perl <m@thp.io>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Homepage: http://pyug.at/PyWeek/2012-09
Vcs-Hg: https://bitbucket.org/pyugat/pyweek1209

Package: onewhaletrip
Architecture: all
Depends: ${misc:Depends}, python-pygame
Description: One Whale Trip (PyWeek 15)
 You are a whale, on a one-way trip to submarine love.
